# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Ansible
*.retry

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
**/secrets/
**/*-secret.yaml
~/.azure_credentials

# Logs
*.log

\\
\\.pub
